# TASK - 2

In [2]:
# Basic data analysis using the pandas library in python

# what is data analysis

#    data analysis is a process of inspecting , cleansing , transforming and modelling data 
#    with the goal of discovering useful information, 
#    informing conclusions and support decision making.

In [3]:
# python libraries for data analysis - numpy, statsmodel,matplotlib,scipy,sckitlearn, pandas , seaborn

import pandas as pd              # for data analysis, cleaning, exploring, manipulation.
import matplotlib.pyplot as plt  # for visulisation
import matplotlib.pyplot as plt # for visulisation

# pandas provide two data structures for processing data 

# 1. Series 2. Dataframe panes

In [ ]:
# 1. series is one dimentional array that can store various data types

import pandas as pd
arr = [11,22,33,44,55]
var = pd.Series(arr)
print(var)
print(type(var))
print(var[2])

var2 = pd.Series(arr,index=['a','b','c','d','e'],dtype="float",name="py_series")
print(var2)
print(type(var2))
print(var2[2])

In [11]:
# 2. Dataframe manipulation using pandas

# using list
import pandas as pd 
l = [1,2,3,4,5]
var = pd.DataFrame(l)
print(type(var))
print(var)

# using dictionary
d = {"a":[1,2,3,4],"b":[5,6,7,8],"c":[9,10,11,12]}
var1 = pd.DataFrame(d)
print(type(var1))
print(var1)

# using list of lists
list_1 = [ [1,2,3,4] , [5,6,7,8] ]
var2 = pd.DataFrame(list_1)
print(type(var2))
print(var2)

# using series
sr = {"a":pd.Series([1,2,3,4]), "b":pd.Series([5,6,7,8])}
var3 = pd.DataFrame(sr)
print(type(var3))
print(var3)

<class 'pandas.core.frame.DataFrame'>
   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>
   a  b   c
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12
<class 'pandas.core.frame.DataFrame'>
   0  1  2  3
0  1  2  3  4
1  5  6  7  8
<class 'pandas.core.frame.DataFrame'>
   a  b
0  1  5
1  2  6
2  3  7
3  4  8

# CSV file - read & write

In [14]:
# creating a CSV file

dis = {"a":[1,2,3,4,5,6], "b":[2,3,4,5,6,7], "c":[3,4,5,6,7,8]}
d = pd.DataFrame(dis)
print(d)
d.to_csv("Test_new.csv")

   a  b  c
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6
4  5  6  7
5  6  7  8

In [18]:
# reading a csv file

data = pd.read_csv("cereal.csv")
data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [21]:
data = pd.read_csv("cereal.csv",nrows=10,usecols=["name","mfr","calories","sodium","fiber","weight","cups"])
data

                        name mfr  calories  sodium  fiber  weight  cups
0                  100% Bran   N        70     130   10.0    1.00  0.33
1          100% Natural Bran   Q       120      15    2.0    1.00  1.00
2                   All-Bran   K        70     260    9.0    1.00  0.33
3  All-Bran with Extra Fiber   K        50     140   14.0    1.00  0.50
4             Almond Delight   R       110     200    1.0    1.00  0.75
5    Apple Cinnamon Cheerios   G       110     180    1.5    1.00  0.75
6                Apple Jacks   K       110     125    1.0    1.00  1.00
7                    Basic 4   G       130     210    2.0    1.33  0.75
8                  Bran Chex   R        90     200    4.0    1.00  0.67
9                Bran Flakes   P        90     210    5.0    1.00  0.67

In [33]:
# particular rows 
data = pd.read_csv("cereal.csv",usecols=[0,3])
data.head()

# skip rows
data = pd.read_csv("cereal.csv",skiprows=[0,3])
data.head()


# indexing a column
data = pd.read_csv("cereal.csv",index_col="name")
data.head()


# header as a row
data = pd.read_csv("cereal.csv",header = 2)
data.head()

# heading 
data = pd.read_csv("cereal.csv",names=["heading"])
data.head()
data = pd.read_csv("cereal.csv",names=["h1","h2","h3","h4","h5","h6","h7","h8","h9","h10","h11","h12","h13","h14","h15"])
data.head()
#data = pd.read_csv("cereal.csv",header=None,prefix="col")
data.head()

# converting a column data type
data = pd.read_csv("cereal.csv",dtype={"calories":"float"})
data.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70.0,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.0,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

# Pandas Functions

In [34]:
data = pd.read_csv("cereal.csv")

data.index

RangeIndex(start=0, stop=77, step=1)

In [35]:
data.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [36]:
data.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [37]:
data.head() # display beginning 5 rows by default

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [38]:
data.tail(3) # we can display bottom 3(as given) rows

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [39]:
data[:2] # for 0,1 rows (can display particular rows)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679

In [40]:
print(type(data)) # to show type of file

<class 'pandas.core.frame.DataFrame'>

In [41]:
data.index.array # to display index as array

<PandasArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75,
 76]
Length: 77, dtype: int64

In [42]:
data.head().to_numpy() # connverting csv file data into arrays

array([['100% Bran', 'N', 'C', 70, 4, 1, 130, 10.0, 5.0, 6, 280, 25, 3,
        1.0, 0.33, 68.402973],
       ['100% Natural Bran', 'Q', 'C', 120, 3, 5, 15, 2.0, 8.0, 8, 135,
        0, 3, 1.0, 1.0, 33.983679],
       ['All-Bran', 'K', 'C', 70, 4, 1, 260, 9.0, 7.0, 5, 320, 25, 3,
        1.0, 0.33, 59.425505],
       ['All-Bran with Extra Fiber', 'K', 'C', 50, 4, 0, 140, 14.0, 8.0,
        0, 330, 25, 3, 1.0, 0.5, 93.704912],
       ['Almond Delight', 'R', 'C', 110, 2, 2, 200, 1.0, 14.0, 8, -1, 25,
        3, 1.0, 0.75, 34.384843]], dtype=object)

In [43]:
# other way using numpy to convert 
import numpy as np
v = np.asarray(data.head())
v

array([['100% Bran', 'N', 'C', 70, 4, 1, 130, 10.0, 5.0, 6, 280, 25, 3,
        1.0, 0.33, 68.402973],
       ['100% Natural Bran', 'Q', 'C', 120, 3, 5, 15, 2.0, 8.0, 8, 135,
        0, 3, 1.0, 1.0, 33.983679],
       ['All-Bran', 'K', 'C', 70, 4, 1, 260, 9.0, 7.0, 5, 320, 25, 3,
        1.0, 0.33, 59.425505],
       ['All-Bran with Extra Fiber', 'K', 'C', 50, 4, 0, 140, 14.0, 8.0,
        0, 330, 25, 3, 1.0, 0.5, 93.704912],
       ['Almond Delight', 'R', 'C', 110, 2, 2, 200, 1.0, 14.0, 8, -1, 25,
        3, 1.0, 0.75, 34.384843]], dtype=object)

In [44]:
# showing data in descending order
data.head().sort_index(axis = 0, ascending = False) 
# axis=0 -> rows

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973

In [46]:
# change data in file
# data[name][0] = heaven -> gives warning but worksout

data.loc[0,"name"]="heaven"
data.head(1)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,heaven,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973

In [50]:
# displaying particular data
data.iloc[0,0]

'heaven'

In [52]:
# removing a column
data = data.drop("mfr",axis=1)
#removing a row
data = data.drop(0,axis=0)
data.head(5)

,name,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
5,Apple Cinnamon Cheerios,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541

# Cleansing Data Methods

# 1. Handling Missing Values -  dropna & fillna

# dropna & fillna in python

# removed some files and kept as blank in calaries column
data=pd.read_csv("cereal.csv")
data.head()

In [56]:
data.dropna() # drops rows with NAN

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110.0,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110.0,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130.0,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90.0,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.00,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.00,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.00,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.00,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.00,0.75,36.187559

In [58]:
data.dropna(axis=1) # removed the column with NAN -> calories column

,name,mfr,type,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [59]:
data.dropna(how="any")

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110.0,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110.0,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130.0,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90.0,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.00,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.00,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.00,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.00,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.00,0.75,36.187559

In [60]:
data.dropna(subset=["calories"]) # Drop rows with missing "calories" values.
data.dropna(inplace=True) # Drop all rows with any missing values.
data.dropna(thresh = 1) # Keep rows with at least one non-missing value.

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110.0,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110.0,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130.0,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90.0,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.00,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.00,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.00,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.00,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.00,0.75,36.187559

In [64]:
# Creating a sample DataFrame
data = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
})

print("Original DataFrame:")
print(data)

# Applying dropna with thresh=1
data.dropna(thresh=2, inplace=True)

print("\nDataFrame after dropna(thresh=1):")
print(data)

Original DataFrame:
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12

DataFrame after dropna(thresh=1):
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
3  4.0  8.0  12

In [65]:
# fillna - fills the NAN values
data.fillna("NULL")

     A     B   C
0  1.0   5.0   9
1  2.0  NULL  10
3  4.0   8.0  12

In [67]:
data=pd.read_csv("cereal.csv")
data.fillna("NTG")

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NTG,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NTG,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,NTG,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NTG,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [68]:
# filling nan values by dictionary values of that particualr column
data.fillna({"name":"noNAME","calories":"noCAL"})

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,noCAL,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,noCAL,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,noCAL,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,noCAL,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [69]:
# in NAN values the previos row value copies - forward filling
data.fillna(method="ffill")

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [70]:
# in NAN values the next row value copies - backward filling
data.fillna(method="bfill")

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,110.0,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,110.0,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,110.0,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,110.0,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [71]:
# in NAN values the previous col value copies - forward filling
data.fillna(method="ffill",axis=1)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,C,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,C,3,5,15,2.0,8.0,8,135,0,3,1.0,1.0,33.983679
2,All-Bran,K,C,C,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,C,4,0,140,14.0,8.0,0,330,25,3,1.0,0.5,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.0,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.0,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [72]:
# in NAN values the next col value copies - backward filling
data.fillna(method="bfill",axis=1)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,4,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,3,3,5,15,2.0,8.0,8,135,0,3,1.0,1.0,33.983679
2,All-Bran,K,C,4,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,4,4,0,140,14.0,8.0,0,330,25,3,1.0,0.5,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.0,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.0,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [73]:
# we can use limit to fill null
data.fillna("NTg",limit=1)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NTg,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

# 1. Handling Missing Values - Replace & Interpolate

In [74]:
# replace ->( to_replace ) it replaces all 'c' to 'cc'
data.replace(to_replace="C",value="CC")

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,CC,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,CC,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,CC,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,CC,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,CC,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,CC,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,CC,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,CC,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,CC,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,CC,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [76]:
data.replace([1,2] ,"one" )

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,one,130,10.0,5.0,6,280,25,3,one,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,one,8.0,8,135,0,3,one,one,33.983679
2,All-Bran,K,C,NaN,4,one,260,9.0,7.0,5,320,25,3,one,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,one,0.5,93.704912
4,Almond Delight,R,C,110.0,one,one,200,one,14.0,8,-1,25,3,one,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,one,one,250,0.0,21.0,3,60,25,3,one,0.75,39.106174
73,Trix,G,C,110.0,one,one,140,0.0,13.0,12,25,25,one,one,one,27.753301
74,Wheat Chex,R,C,100.0,3,one,230,3.0,17.0,3,115,25,one,one,0.67,49.787445
75,Wheaties,G,C,100.0,3,one,200,3.0,17.0,3,110,25,one,one,one,51.592193
76,Wheaties Honey Gold,G,C,110.0,one,one,200,one,16.0,8,60,25,one,one,0.75,36.187559

In [78]:
# can also replace group of chars
data.replace("[A-Za-z]","python",regex=True)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% pythonpythonpythonpython,python,python,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% pythonpythonpythonpythonpythonpythonpytho...,python,python,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,pythonpythonpython-pythonpythonpythonpython,python,python,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,pythonpythonpython-pythonpythonpythonpython py...,python,python,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,pythonpythonpythonpythonpythonpython pythonpyt...,python,python,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,pythonpythonpythonpythonpythonpythonpython,python,python,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,pythonpythonpythonpython,python,python,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,pythonpythonpythonpythonpython pythonpythonpyt...,python,python,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,pythonpythonpythonpythonpythonpythonpythonpython,python,python,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,pythonpythonpythonpythonpythonpythonpythonpyth...,python,python,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [80]:
# replace using dictionaries/
data.replace({"name":'[A-Z]'},"python",regex=True)

# replaces with backward and forward data by ffill and bfill
data.replace(1,method="ffill")
data.replace(1,method="bfill")

# to replace a limited data
data.replace(1,method="ffill",limit=2)

# using in place it replaces the original data without copy
data.replace(1,method="ffill",limit=2,inplace=True)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,0.33,33.983679
2,All-Bran,K,C,NaN,4,5,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,14.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.5,0.75,39.106174
73,Trix,G,C,110.0,2,1,140,0.0,13.0,12,25,25,2,1.0,0.75,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,2,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,2,1.0,0.67,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,3.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [87]:
# interpolate -> fills the data with onl numbers not alphabets

data = pd.DataFrame({
    'name': ['100% Bran', '100% Natural Bran', 'All-Bran', 'All-Bran with Extra Fiber', 'Almond Delight'],
    'mfr': ['N', 'Q', 'K', 'K', 'R'],
    'type': ['C', 'C', 'C', 'C', 'C'],
    'calories': [np.nan, np.nan, np.nan, np.nan, 110],
    'protein': [4, 3, 4, 4, 2],
    'fat': [1, 5, 1, 0, 2],
    'sodium': [130, 15, 260, 140, 200],
    'fiber': [10.0, 2.0, 9.0, 14.0, 1.0],
    'carbo': [5.0, 8.0, 7.0, 8.0, 14.0],
    'sugars': [6, 8, 5, 0, 8],
    'potass': [280, 135, 320, 330, -1],
    'vitamins': [25, 0, 25, 25, 25],
    'shelf': [3, 3, 3, 3, 3],
    'weight': [1.0, 1.0, 1.0, 1.0, 1.0],
    'cups': [0.33, 1.00, 0.33, 0.50, 0.75],
    'rating': [68.402973, 33.983679, 59.425505, 93.704912, 34.384843]
})

print("Original DataFrame:")
print(data)

# Interpolating missing values
data['calories'] = data['calories'].interpolate()

print("\nDataFrame after interpolation:")
print(data)

Original DataFrame:
                        name mfr type  calories  protein  fat  sodium  fiber  \
0                  100% Bran   N    C       NaN        4    1     130   10.0
1          100% Natural Bran   Q    C       NaN        3    5      15    2.0
2                   All-Bran   K    C       NaN        4    1     260    9.0
3  All-Bran with Extra Fiber   K    C       NaN        4    0     140   14.0
4             Almond Delight   R    C     110.0        2    2     200    1.0

   carbo  sugars  potass  vitamins  shelf  weight  cups     rating
0    5.0       6     280        25      3     1.0  0.33  68.402973
1    8.0       8     135         0      3     1.0  1.00  33.983679
2    7.0       5     320        25      3     1.0  0.33  59.425505
3    8.0       0     330        25      3     1.0  0.50  93.704912
4   14.0       8      -1        25      3     1.0  0.75  34.384843

DataFrame after interpolation:
                        name mfr type  calories  protein  fat  sodium  fiber  \
0                  100% Bran   N    C       NaN        4    1     130   10.0
1          100% Natural Bran   Q    C       NaN        3    5      15    2.0
2                   All-Bran   K    C       NaN        4    1     260    9.0
3  All-Bran with Extra Fiber   K    C       NaN        4    0     140   14.0
4             Almond Delight   R    C     110.0        2    2     200    1.0

   carbo  sugars  potass  vitamins  shelf  weight  cups     rating
0    5.0       6     280        25      3     1.0  0.33  68.402973
1    8.0       8     135         0      3     1.0  1.00  33.983679
2    7.0       5     320        25      3     1.0  0.33  59.425505
3    8.0       0     330        25      3     1.0  0.50  93.704912
4   14.0       8      -1        25      3     1.0  0.75  34.384843

In [105]:
# for limiting the interpolate
data.interpolate(limit=1)

# for a direction
data.interpolate(limit_direction="forward", limit=2)
data.interpolate(limit_direction="backward", limit=2)
data.interpolate(limit_direction="both", limit=2)

# limit area
data.interpolate(limit_area="inside")
data.interpolate(limit_area="outside")

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

# Removing Duplicates

In [102]:

# Read the CSV file into a DataFrame
df = pd.read_csv('cereal.csv')

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Save the cleaned DataFrame to a new CSV file
df_cleaned.to_csv('cleaned_file.csv', index=False)

df_cleaned

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [107]:
# Remove duplicates based on specific columns
df_cleaned = df.drop_duplicates(subset=['name', 'calories'])
df_cleaned

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [108]:
# Keep the last occurrence instead of the first
df_cleaned = df.drop_duplicates(keep='last')
df_cleaned

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

# Filtering data

In [95]:
# displaying only rows with that columns applicable to that condition
data.loc[(data['protein'] == 4 ) & (data['fat'] == 1 )]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505

In [96]:
data.loc[(data['protein'] == 4 ) | (data['fat'] == 1 )]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912

In [99]:
new_data = data.loc[(data['protein'] == 4 ) | (data['fat'] == 1 )]
new_data.to_csv('filteredCereal.csv')
new_data # old index remain same

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912

In [100]:
# ro reset index to filtered data
new_data = new_data.reset_index()
new_data

,index,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
2,3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912

In [115]:
# to show all the places where '250' is present
data = pd.DataFrame({
    'name': ['Brandon', 'James', 'Brian', 'Eve'],
    'age': [25, 30, 22, 29]
})
data.loc[data['name'].str.contains('Bran')]

      name  age
0  Brandon   25

In [117]:
data=pd.read_csv("cereal.csv")

# Sorting data

In [118]:
data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,NaN,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,NaN,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [122]:
# in ascending
sorted_data = data.sort_values(by='protein',ascending=[True])
sorted_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
54,Puffed Rice,Q,C,50.0,1,0,0,0.0,13.0,0,15,0,3,0.5,1.00,60.756112
31,Golden Grahams,G,C,110.0,1,1,280,0.0,15.0,9,45,25,2,1.0,0.75,23.804043
35,Honey Graham Ohs,Q,C,120.0,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
37,Honey-comb,P,C,110.0,1,0,180,0.0,14.0,11,35,25,1,1.0,1.33,28.742414
18,Count Chocula,G,C,110.0,1,1,180,0.0,12.0,13,65,25,2,1.0,1.00,22.396513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
57,Quaker Oatmeal,Q,H,100.0,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
67,Special K,K,C,110.0,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324
11,Cheerios,G,C,110.0,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999

In [123]:
# in descending order
sorted_data = data.sort_values(by='protein',ascending=[False])
sorted_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
11,Cheerios,G,C,110.0,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
67,Special K,K,C,110.0,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324
57,Quaker Oatmeal,Q,H,100.0,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
0,100% Bran,N,C,NaN,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,NaN,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Honey Graham Ohs,Q,C,120.0,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
37,Honey-comb,P,C,110.0,1,0,180,0.0,14.0,11,35,25,1,1.0,1.33,28.742414
25,Frosted Flakes,K,C,110.0,1,0,200,1.0,14.0,11,25,25,1,1.0,0.75,31.435973
14,Cocoa Puffs,G,C,110.0,1,1,180,0.0,12.0,13,55,25,2,1.0,1.00,22.736446

# Grouping data

In [129]:
data.groupby('type').mean()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
type,,,,,,,,,,,,,
C,108.857143,2.486486,1.013514,165.067568,2.189189,14.702703,7.175676,97.216216,29.054054,2.229730,1.030811,0.818243,42.095218
H,100.000000,4.000000,1.000000,26.666667,1.233333,12.000000,0.666667,68.000000,8.333333,1.666667,1.000000,0.890000,56.737708

In [128]:
#we can group by and check order of any column
data.groupby('type').mean().sort_values('calories',ascending=False)

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
type,,,,,,,,,,,,,
C,108.857143,2.486486,1.013514,165.067568,2.189189,14.702703,7.175676,97.216216,29.054054,2.229730,1.030811,0.818243,42.095218
H,100.000000,4.000000,1.000000,26.666667,1.233333,12.000000,0.666667,68.000000,8.333333,1.666667,1.000000,0.890000,56.737708

In [130]:
data.groupby('mfr').sum()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
mfr,,,,,,,,,,,,,
A,100.0,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
G,2450.0,51,30,4410,28.0,324.0,175,1875,775,47,23.08,19.25,758.688737
K,2380.0,61,14,4020,63.0,348.0,174,2370,800,54,24.79,18.31,1012.884634
N,450.0,17,1,225,24.0,96.0,11,724,50,10,5.83,4.67,407.811403
P,980.0,22,8,1315,25.0,119.0,79,1025,225,22,9.58,6.43,375.351697
Q,640.0,21,14,740,10.7,80.0,42,595,100,19,7.00,6.59,343.327919
R,920.0,20,10,1585,15.0,141.0,49,714,200,16,8.00,6.97,332.343977

In [131]:
data.groupby('mfr').count()

,name,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
mfr,,,,,,,,,,,,,,,
A,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
G,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
K,23,23,21,23,23,23,23,23,23,23,23,23,23,23,23
N,6,6,5,6,6,6,6,6,6,6,6,6,6,6,6
P,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Q,8,8,7,8,8,8,8,8,8,8,8,8,8,8,8
R,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8